header {
    position: fixed;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 10vh 0 0;
    background-color: #0a0a0a;
    z-index: $zi3;
    transition: all .4s;
}
.matrix_wraper {
    font-family: 'Source Code Pro', COURIER, Arial;
    position: absolute;
    z-index: $zi1;
    font-size: 16px;
    top: calc(50% - 10px);
    left: calc(50% - 100px);
    font-weight: 400;
    color: #6F0;
}
.matrix {
    display: inline-block;
    text-shadow: 0 0 3px rgba(50,255,50,.3),0 0 3px rgba(100,255,100,.3);
}
.typed-cursor {
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
.top_wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: $zi1;
    background-image: linear-gradient(transparent 0,rgba(10,16,10,.5) 100%);
    background-size: 100vh 2px;
    h1 {
        position: absolute;
        bottom: 24px;
        right: 0;
        font-weight: 300;
        color: $white;
        font-family: 'Source Code Pro', Arial;
    }
}