p {
    padding: 0;
    margin: 0;
}

.text-white {
    color: #fff;
}
.text-black {
    color: $black;
}
.text-gray-dark {
    color: $gray-dark;
}
.text-gray {
    color: $gray;
}
.text-gray-light {
    color: $gray-light;
}
.text-gray-lighter {
    color: $gray-lighter;
}

.text-md-1 {
    font-size: 15px;
    font-weight: 600;
}
.text-md-2 {
    font-size: 15px;
}
.text-lg-1 {
    font-size: 17px;
    font-weight: 600;
}

.one_line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}