// Black and White.
$white:                 #ffffff;
$black:                 #000000;

//Gray color spectrum-
$gray-dark:             #343434;
$gray:                  #666666;
$gray-light:            #E5E5E5;
$gray-lighter:          #f1f1f1;

// Stars color spectrum.
$star-1:                #d91e25;
$star-2:                #f16f24;
$star-3:                #f9cd18;
$star-4:                #6faa42;
$star-5:                #1aa549;

// Z-index
$zi1: 100;
$zi2: 200;
$zi3: 300;
$zi4: 400;
$zi5: 500;
$zi6: 600;
$zi7: 700;
$zi8: 800;
$zi9: 900;
$zi10: 1000;