// Black and White.
$white:                 #ffffff;
$black:                 #000000;

//Gray color spectrum-
$gray-dark:             #777777;
$gray:                  #8b8b8b;
$gray-light:            #E5E5E5;
$gray-lighter:          #F2F2F2;

// Brand color spectrum.
$brand-primary:         #50cdeb;
$brand-secondary:       #1a1a1a;
$brand-success:         #3DC7A8;
$brand-info:            #4b4b82;
$brand-warning:         #f0ad4e;
$brand-danger:          #ff6565;

// Z-index
$zi1: 100;
$zi2: 200;
$zi3: 300;
$zi4: 400;
$zi5: 500;
$zi6: 600;
$zi7: 700;
$zi8: 800;
$zi9: 900;
$zi10: 1000;